body{
    background-color: #d1d1d1;
    width:266px;
    margin-left: 10%;
    margin-top: 5%;
}
button{
    width: 70px;
    font-size: x-large;
    background-color: aqua;
    border: none;
    border-radius: 10%;
}
#btnheight{
    height: 80px;
    width: 40px
}
#btnplus{
    width: 40px
}
input{
    width:257px;
    height: 60px;
    font-size: x-large;
    text-align: right;
    background-color: rgb(105, 233, 110);
    color:  rgb(117, 9, 239);
    border: none;
    border-radius: 10%;
}
h2{
    text-align: center;
}
.calci{
    border: 4px solid black;
    border-radius: 4%;
}